/* ScrollToTopButton.css */
.scroll-to-top {
   
    position: fixed;
    bottom: 80px;
    right: 60px;
    z-index: 1000;
    font-size: 1.5rem;
    width: 50px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;

  }

  .scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    background-color: #7c0505fd;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
  }
  .scroll-to-top.show:hover {
    background-color: white;
    color: rgb(255, 0, 0);
  }
  
  @media only screen and (max-width:768px) {
    .scroll-to-top{
        font-size: 1rem;
        width: 40px;
        bottom: 40px;
        right: 20px;
    }
  }